<?xml version="1.0" encoding="utf-8" ?> 
<Configuration>
	<UserSettings>
		<ToDoListSettings>
			<ToDoMarkers>
				<ToDoMarker Text="'NOTE:" priority="0" />
				<ToDoMarker Text="'TODO:" priority="1" />
				<ToDoMarker Text="'BUG:" priority="2" />
			</ToDoMarkers>
		</ToDoListSettings>
	</UserSettings>
</Configuration>