<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <UserSettings>
    <ToDoListSettings>
      <ToDoMarkers>
        <ToDoMarker Text="NOTE:" Priority="Low" />
        <ToDoMarker Text="TODO:" Priority="Normal" />
        <ToDoMarker Text="BUG:" Priority="High" />
      </ToDoMarkers>
    </ToDoListSettings>
    <CodeInspectionSettings>
      <CodeInspections>
        <CodeInspection Name="Parameter is passed ByRef implicitly" Severity="Warning" InspectionType="Code Quality Issues" />
        <CodeInspection Name="Function returns an implicit Variant" Severity="Suggestion" InspectionType="Code Quality Issues" />
        <CodeInspection Name="Instruction contains multiple declarations" Severity="Suggestion" InspectionType="Code Quality Issues" />
        <CodeInspection Name="Use of obsolete Rem comment syntax" Severity="Suggestion" InspectionType="MaintainabilityAndReadabilityIssues" />
        <CodeInspection Name="Option Explicit is not specified" Severity="Warning" InspectionType="Code Quality Issues" />
        <CodeInspection Name="Variable type is implicitly Variant" Severity="Warning" InspectionType="Code Quality Issues" />
      </CodeInspections>
    </CodeInspectionSettings>
  </UserSettings>
</Configuration>