version: '2.1.2.{build}'

# add nuget api to hosts file, making sure we can actually nuget restore for the build
hosts:
  api.nuget.org: 93.184.221.200

# enforce crlf fixing
init:
  git config --global core.autocrlf true
# restrict how much history we try to grab
clone_depth: 3
# ignore a certain subset of files when evaluating build-changes
skip_commits:
  files:
  - docs/*
  - '**/*.md'
  - '**/*.yml'
  - license
  - License.rtf
branches:
  only:
  - master
  - staging
  - next
skip_tags: true

# build-matrix: all Release CPUs on VS2017
image: Visual Studio 2017
configuration: Release
platform: Any CPU

# cache the nuget packages unless something changed there
cache:
  - packages/ -> **/packages.config

install:
  set PATH=C:\Program Files (x86)\MSBuild\15.0\Bin;%PATH%
assembly_info:
  patch: true
  file: RetailCoder.VBE\Properties\AssemblyInfo.cs
  assembly_version: '{version}'

before_build:
  - cinst innosetup
  - cinst codecov
  - cinst opencover.portable
  - nuget restore
build:
  verbosity: minimal

test_script:
  # we use -returntargetcode to fail the build if tests fail
  - OpenCover.Console.exe -register:user -returntargetcode -target:"nunit3-console.exe" -targetargs:".\RubberduckTests\bin\Release\RubberduckTests.dll" -output:".\Rubberduck_Coverage.xml"

after_test:
  - codecov -f "Rubberduck_Coverage.xml"

before_package:
  - copy Rubberduck.Inspections\bin\Release\Rubberduck.Inspections.dll RetailCoder.VBE\bin\Release\Rubberduck.Inspections.dll

for:
  - branches:
      only:
        - next
    after_test:
      - iscc /q "Installer Build Script.iss" 
      - move Installers\Rubberduck.Setup.exe Installers\Rubberduck.Setup.%APPVEYOR_BUILD_VERSION%-pre.exe
  - branches:
      only:
        - master
    after_test:
      - iscc /q "Installer Build Script.iss" 
      - move Installers\Rubberduck.Setup.exe Installers\Rubberduck.Setup.%APPVEYOR_BUILD_VERSION%.exe
    
# grab the installers we produce and upload them to github :)
artifacts:
  - path: Installers\Rubberduck.Setup.*.exe
    name: Rubberduck
deploy:
  - provider: GitHub
    tag: Rubberduck v$(appveyor_build_version)
    release: Rubberduck v$(appveyor_build_version)
    description: AppVeyor build on [master] - https://ci.appveyor.com/project/retailcoder/rubberduck/build/$(appveyor_build_version)
    auth_token:
      secure: oh0SRnZVt0ABeWqFr7ut5TZkxFJjHmS/DZnJnp2HErQTCmX3O8RASJH3ZiYl11gz
    artifact: Installers\Rubberduck.Setup.$(appveyor_build_version).exe
    draft: true
    prerelease: false
    on:
      branch: master
  - provider: GitHub
    tag: Rubberduck v$(appveyor_build_version)
    release: Rubberduck v$(appveyor_build_version)-pre
    description: AppVeyor build on [next] - https://ci.appveyor.com/project/retailcoder/rubberduck/build/$(appveyor_build_version)
    auth_token:
      secure: oh0SRnZVt0ABeWqFr7ut5TZkxFJjHmS/DZnJnp2HErQTCmX3O8RASJH3ZiYl11gz
    artifact: Installers\Rubberduck.Setup.$(appveyor_build_version)-pre.exe
    draft: false
    prerelease: true
    on:
      branch: next
notifications:
  - provider: Webhook
    url: http://stats.zomis.net/GithubHookSEChatService/hooks/github/payload?roomId=14929
    on_build_success: true
    on_build_failure: true
    on_build_status_changed: false
