<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4" version="4.3.0" targetFramework="net45" />
  <package id="Antlr4.Runtime" version="4.3.0" targetFramework="net45" />
  <package id="AvalonEdit" version="5.0.3" targetFramework="net45" />
  <package id="Castle.Core" version="4.1.1" targetFramework="net45" />
  <package id="Castle.Windsor" version="4.0.0" targetFramework="net45" />
  <package id="EasyHook" version="2.7.6270" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net45" />
  <package id="LibGit2Sharp" version="0.24.0" targetFramework="net45" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.185" targetFramework="net45" />
  <package id="NLog" version="4.0.1" targetFramework="net45" />
  <package id="NLog.Schema" version="4.0.1" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net45" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net45" />
</packages>