<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Rubberduck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <applicationSettings>
    <Rubberduck.Properties.Settings>
      <setting name="DefaultHotkey_IndentCurrentModuleCommand" serializeAs="Xml">
        <value>
          <HotkeySetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Key1>M</Key1>
            <IsEnabled>true</IsEnabled>
            <HasShiftModifier>false</HasShiftModifier>
            <HasAltModifier>false</HasAltModifier>
            <HasCtrlModifier>true</HasCtrlModifier>
            <CommandTypeName>IndentCurrentModuleCommand</CommandTypeName>
          </HotkeySetting>
        </value>
      </setting>
      <setting name="DefaultHotkey_CodePaneRefactorRenameCommand" serializeAs="Xml">
        <value>
          <HotkeySetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Key1>R</Key1>
            <IsEnabled>true</IsEnabled>
            <HasShiftModifier>true</HasShiftModifier>
            <HasAltModifier>false</HasAltModifier>
            <HasCtrlModifier>true</HasCtrlModifier>
            <CommandTypeName>CodePaneRefactorRenameCommand</CommandTypeName>
          </HotkeySetting>
        </value>
      </setting>
      <setting name="DefaultHotkey_RefactorEncapsulateFieldCommand"
        serializeAs="Xml">
        <value>
          <HotkeySetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Key1>F</Key1>
            <IsEnabled>true</IsEnabled>
            <HasShiftModifier>true</HasShiftModifier>
            <HasAltModifier>false</HasAltModifier>
            <HasCtrlModifier>true</HasCtrlModifier>
            <CommandTypeName>RefactorEncapsulateFieldCommand</CommandTypeName>
          </HotkeySetting>
        </value>
      </setting>
      <setting name="DefaultHotkey_RefactorExtractMethodCommand" serializeAs="Xml">
        <value>
          <HotkeySetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Key1>M</Key1>
            <IsEnabled>true</IsEnabled>
            <HasShiftModifier>true</HasShiftModifier>
            <HasAltModifier>false</HasAltModifier>
            <HasCtrlModifier>true</HasCtrlModifier>
            <CommandTypeName>RefactorExtractMethodCommand</CommandTypeName>
          </HotkeySetting>
        </value>
      </setting>
      <setting name="DefaultHotkey_RefactorMoveCloserToUsageCommand"
        serializeAs="Xml">
        <value>
          <HotkeySetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Key1>C</Key1>
            <IsEnabled>true</IsEnabled>
            <HasShiftModifier>true</HasShiftModifier>
            <HasAltModifier>false</HasAltModifier>
            <HasCtrlModifier>true</HasCtrlModifier>
            <CommandTypeName>RefactorMoveCloserToUsageCommand</CommandTypeName>
          </HotkeySetting>
        </value>
      </setting>
      <setting name="DefaultHotkey_CodeExplorerCommand" serializeAs="Xml">
        <value>
          <HotkeySetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Key1>R</Key1>
            <IsEnabled>true</IsEnabled>
            <HasShiftModifier>false</HasShiftModifier>
            <HasAltModifier>false</HasAltModifier>
            <HasCtrlModifier>true</HasCtrlModifier>
            <CommandTypeName>CodeExplorerCommand</CommandTypeName>
          </HotkeySetting>
        </value>
      </setting>
      <setting name="DefaultHotkey_ExportAllCommand" serializeAs="Xml">
        <value>
          <HotkeySetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Key1>E</Key1>
            <IsEnabled>true</IsEnabled>
            <HasShiftModifier>true</HasShiftModifier>
            <HasAltModifier>false</HasAltModifier>
            <HasCtrlModifier>true</HasCtrlModifier>
            <CommandTypeName>ExportAllCommand</CommandTypeName>
          </HotkeySetting>
        </value>
      </setting>
      <setting name="DefaultHotkey_FindSymbolCommand" serializeAs="Xml">
        <value>
          <HotkeySetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Key1>T</Key1>
            <IsEnabled>true</IsEnabled>
            <HasShiftModifier>false</HasShiftModifier>
            <HasAltModifier>false</HasAltModifier>
            <HasCtrlModifier>true</HasCtrlModifier>
            <CommandTypeName>FindSymbolCommand</CommandTypeName>
          </HotkeySetting>
        </value>
      </setting>
      <setting name="DefaultHotkey_IndentCurrentProcedureCommand" serializeAs="Xml">
        <value>
          <HotkeySetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Key1>P</Key1>
            <IsEnabled>true</IsEnabled>
            <HasShiftModifier>false</HasShiftModifier>
            <HasAltModifier>false</HasAltModifier>
            <HasCtrlModifier>true</HasCtrlModifier>
            <CommandTypeName>IndentCurrentProcedureCommand</CommandTypeName>
          </HotkeySetting>
        </value>
      </setting>
      <setting name="DefaultHotkey_InspectionResultsCommand" serializeAs="Xml">
        <value>
          <HotkeySetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Key1>I</Key1>
            <IsEnabled>true</IsEnabled>
            <HasShiftModifier>true</HasShiftModifier>
            <HasAltModifier>false</HasAltModifier>
            <HasCtrlModifier>true</HasCtrlModifier>
            <CommandTypeName>InspectionResultsCommand</CommandTypeName>
          </HotkeySetting>
        </value>
      </setting>
      <setting name="DefaultHotkey_ReparseCommand" serializeAs="Xml">
        <value>
          <HotkeySetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Key1>`</Key1>
            <IsEnabled>true</IsEnabled>
            <HasShiftModifier>false</HasShiftModifier>
            <HasAltModifier>false</HasAltModifier>
            <HasCtrlModifier>true</HasCtrlModifier>
            <CommandTypeName>ReparseCommand</CommandTypeName>
          </HotkeySetting>
        </value>
      </setting>
      <setting name="DefaultHotkey_TestExplorerCommand" serializeAs="Xml">
        <value>
          <HotkeySetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Key1>T</Key1>
            <IsEnabled>true</IsEnabled>
            <HasShiftModifier>true</HasShiftModifier>
            <HasAltModifier>false</HasAltModifier>
            <HasCtrlModifier>true</HasCtrlModifier>
            <CommandTypeName>TestExplorerCommand</CommandTypeName>
          </HotkeySetting>
        </value>
      </setting>
      <setting name="ToDoMarker_ToDo" serializeAs="Xml">
        <value>
          <ToDoMarker xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" Text="TODO" />
        </value>
      </setting>
      <setting name="ToDoMarker_Note" serializeAs="Xml">
        <value>
          <ToDoMarker xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" Text="NOTE" />
        </value>
      </setting>
      <setting name="ToDoMarker_Bug" serializeAs="Xml">
        <value>
          <ToDoMarker xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" Text="BUG" />
        </value>
      </setting>
      <setting name="WindowSettings" serializeAs="Xml">
        <value>
          <WindowSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <CodeExplorerVisibleOnStartup>false</CodeExplorerVisibleOnStartup>
            <CodeInspectionsVisibleOnStartup>false</CodeInspectionsVisibleOnStartup>
            <TestExplorerVisibleOnStartup>false</TestExplorerVisibleOnStartup>
            <TodoExplorerVisibleOnStartup>false</TodoExplorerVisibleOnStartup>
            <CodeExplorer_SortByName>true</CodeExplorer_SortByName>
            <CodeExplorer_SortByCodeOrder>false</CodeExplorer_SortByCodeOrder>
            <CodeExplorer_GroupByType>false</CodeExplorer_GroupByType>
          </WindowSettings>
        </value>
      </setting>
      <setting name="GeneralSettings" serializeAs="Xml">
        <value>
          <GeneralSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Language Code="en-US" />
            <CanShowSplash>true</CanShowSplash>
            <CanCheckVersion>true</CanCheckVersion>
            <CompileBeforeParse>true</CompileBeforeParse>
            <IsSmartIndenterPrompted>false</IsSmartIndenterPrompted>
            <IsAutoSaveEnabled>false</IsAutoSaveEnabled>
            <AutoSavePeriod>10</AutoSavePeriod>
            <UserEditedLogLevel>false</UserEditedLogLevel>
            <MinimumLogLevel>0</MinimumLogLevel>
            <SetDpiUnaware>false</SetDpiUnaware>
            <EnableExperimentalFeatures />
          </GeneralSettings>
        </value>
      </setting>
      <setting name="AutoCompleteSettings" serializeAs="Xml">
        <value>
          <AutoCompleteSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" IsEnabled="true">
            <SmartConcat IsEnabled="true">
              <ConcatVbNewLineModifier>None</ConcatVbNewLineModifier>
              <ConcatMaxLines>25</ConcatMaxLines>
            </SmartConcat>
            <SelfClosingPairs IsEnabled="true" />
            <BlockCompletion IsEnabled="true" CompleteOnEnter="true" CompleteOnTab="true" />
          </AutoCompleteSettings>
        </value>
      </setting>
      <setting name="ToDoGridViewColumnInfo_Description" serializeAs="Xml">
        <value>
          <ToDoGridViewColumnInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <DisplayIndex>0</DisplayIndex>
            <Width />
          </ToDoGridViewColumnInfo>
        </value>
      </setting>
      <setting name="ToDoGridViewColumnInfo_Project" serializeAs="Xml">
        <value>
          <ToDoGridViewColumnInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <DisplayIndex>1</DisplayIndex>
            <Width />
          </ToDoGridViewColumnInfo>
        </value>
      </setting>
      <setting name="ToDoGridViewColumnInfo_Module" serializeAs="Xml">
        <value>
          <ToDoGridViewColumnInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <DisplayIndex>2</DisplayIndex>
            <Width />
          </ToDoGridViewColumnInfo>
        </value>
      </setting>
      <setting name="ToDoGridViewColumnInfo_LineNumber" serializeAs="Xml">
        <value>
          <ToDoGridViewColumnInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <DisplayIndex>3</DisplayIndex>
            <Width />
          </ToDoGridViewColumnInfo>
        </value>
      </setting>
    </Rubberduck.Properties.Settings>
  </applicationSettings>
</configuration>
