<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Rubberduck.CodeAnalysis.Properties.CodeInspectionDefaults" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <applicationSettings>
    <Rubberduck.CodeAnalysis.Properties.CodeInspectionDefaults>
      <setting name="CodeInspectionSettings" serializeAs="Xml">
        <value>
          <CodeInspectionSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <CodeInspections>
              <CodeInspection Name="BooleanAssignedInIfElseInspection" Severity="Warning"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="ObsoleteErrorSyntaxInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="StopKeywordInspection" Severity="Suggestion"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="UnhandledOnErrorResumeNextInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="EmptyStringLiteralInspection" Severity="Warning"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ImplicitByRefModifierInspection" Severity="Hint"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="FunctionReturnValueNotUsedInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="RedundantByRefModifierInspection" Severity="DoNotShow"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="MissingAttributeInspection" Severity="Warning"
                InspectionType="RubberduckOpportunities" />
              <CodeInspection Name="AttributeOutOfSyncInspection" Severity="Warning"
                InspectionType="RubberduckOpportunities" />
              <CodeInspection Name="MissingAnnotationArgumentInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ModuleScopeDimKeywordInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="MultilineParameterInspection" Severity="Suggestion"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="MultipleDeclarationsInspection" Severity="Warning"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="ObsoleteCallStatementInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ObsoleteCommentSyntaxInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ObsoleteLetStatementInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="OptionBaseInspection" Severity="Hint" InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="RedundantOptionInspection" Severity="Hint"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="OptionExplicitInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ProcedureCanBeWrittenAsFunctionInspection"
                Severity="Suggestion" InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ApplicationWorksheetFunctionInspection"
                Severity="Suggestion" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="AssignedByValParameterInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="EmptyModuleInspection" Severity="Hint"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="LineLabelNotUsedInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="IntegerDataTypeInspection" Severity="Hint"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ShadowedDeclarationInspection" Severity="DoNotShow"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ConstantNotUsedInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="DefaultProjectNameInspection" Severity="Suggestion"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="EmptyCaseBlockInspection" Severity="Warning"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="EmptyDoWhileBlockInspection" Severity="Suggestion"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="EmptyElseBlockInspection" Severity="Warning"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="EmptyForEachBlockInspection" Severity="Warning"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="EmptyForLoopBlockInspection" Severity="Warning"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="EmptyIfBlockInspection" Severity="Warning"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="EmptyWhileWendBlockInspection" Severity="Warning"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="EncapsulatePublicFieldInspection" Severity="Suggestion"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="HostSpecificExpressionInspection" Severity="Warning"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="HungarianNotationInspection" Severity="Suggestion"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="ImplicitActiveSheetReferenceInspection"
                Severity="Warning" InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ImplicitActiveWorkbookReferenceInspection"
                Severity="Warning" InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ImplicitDefaultMemberAssignmentInspection"
                Severity="Suggestion" InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ImplicitPublicMemberInspection" Severity="Hint"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ImplicitVariantReturnTypeInspection" Severity="Hint"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="MemberNotOnInterfaceInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="MoveFieldCloserToUsageInspection" Severity="Hint"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="NonReturningFunctionInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ObjectVariableNotSetInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ObsoleteGlobalInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ObsoleteTypeHintInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ParameterCanBeByValInspection" Severity="Suggestion"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="ParameterNotUsedInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ProcedureNotUsedInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="SelfAssignedDeclarationInspection" Severity="Suggestion"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="UnassignedVariableUsageInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="UndeclaredVariableInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="UntypedFunctionUsageInspection" Severity="Hint"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="UseMeaningfulNameInspection" Severity="Suggestion"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="VariableNotAssignedInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="VariableNotUsedInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="VariableTypeNotDeclaredInspection" Severity="Warning"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="WriteOnlyPropertyInspection" Severity="Suggestion"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="DefTypeStatementInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="StepIsNotSpecifiedInspection" Severity="DoNotShow"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="StepOneIsRedundantInspection" Severity="Hint"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="SheetAccessedUsingStringInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ObsoleteMemberUsageInspection" Severity="Warning"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="ObsoleteCallingConventionInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="DuplicatedAnnotationInspection" Severity="Error"
                InspectionType="RubberduckOpportunities" />
              <CodeInspection Name="ModuleWithoutFolderInspection" Severity="Suggestion"
                InspectionType="RubberduckOpportunities" />
              <CodeInspection Name="OnLocalErrorInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="IsMissingOnInappropriateArgumentInspection"
                Severity="Warning" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="IsMissingWithNonArgumentParameterInspection"
                Severity="Warning" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="AssignmentNotUsedInspection" Severity="Suggestion"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="UnderscoreInPublicClassModuleMemberInspection"
                Severity="Warning" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ExcelUdfNameIsValidCellReferenceInspection"
                Severity="Warning" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="EmptyMethodInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ImplementedInterfaceMemberInspection" Severity="Suggestion"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="PublicControlFieldAccessInspection" Severity="Hint"
                InspectionType="LanguageOpportunities" />
            </CodeInspections>
            <WhitelistedIdentifiers />
            <RunInspectionsOnSuccessfulParse>true</RunInspectionsOnSuccessfulParse>
          </CodeInspectionSettings>
        </value>
      </setting>
    </Rubberduck.CodeAnalysis.Properties.CodeInspectionDefaults>
  </applicationSettings>
</configuration>
