<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <GeneralSettings>
    <Language Code="en-US" />
    <CanShowSplash>true</CanShowSplash>
    <CanCheckVersion>true</CanCheckVersion>
    <IncludePreRelease>false</IncludePreRelease>
    <CompileBeforeParse>true</CompileBeforeParse>
    <IsSmartIndenterPrompted>false</IsSmartIndenterPrompted>
    <IsAutoSaveEnabled>false</IsAutoSaveEnabled>
    <AutoSavePeriod>10</AutoSavePeriod>
    <UserEditedLogLevel>false</UserEditedLogLevel>
    <MinimumLogLevel>0</MinimumLogLevel>
    <SetDpiUnaware>false</SetDpiUnaware>
    <EnableFolderDragAndDrop>true</EnableFolderDragAndDrop>
    <EnableExperimentalFeatures />
  </GeneralSettings>
  <HotkeySettings>
    <Settings>
      <HotkeySetting>
        <Key1>M</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>false</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>IndentCurrentModuleCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>R</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>true</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>CodePaneRefactorRenameCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>F</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>true</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>RefactorEncapsulateFieldCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>M</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>true</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>RefactorExtractMethodCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>C</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>true</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>RefactorMoveCloserToUsageCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>R</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>false</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>CodeExplorerCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>E</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>true</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>ExportAllCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>T</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>false</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>FindSymbolCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>P</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>false</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>IndentCurrentProcedureCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>I</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>true</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>InspectionResultsCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>`</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>false</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>ReparseCommand</CommandTypeName>
      </HotkeySetting>
      <HotkeySetting>
        <Key1>T</Key1>
        <IsEnabled>true</IsEnabled>
        <HasShiftModifier>true</HasShiftModifier>
        <HasAltModifier>false</HasAltModifier>
        <HasCtrlModifier>true</HasCtrlModifier>
        <CommandTypeName>TestExplorerCommand</CommandTypeName>
      </HotkeySetting>
    </Settings>
  </HotkeySettings>
  <AutoCompleteSettings IsEnabled="false">
    <SmartConcat IsEnabled="true">
      <ConcatVbNewLineModifier>CtrlKey</ConcatVbNewLineModifier>
      <ConcatMaxLines>25</ConcatMaxLines>
    </SmartConcat>
    <SelfClosingPairs IsEnabled="true" />
    <BlockCompletion IsEnabled="false" CompleteOnEnter="false" CompleteOnTab="false" />
  </AutoCompleteSettings>
  <ToDoListSettings>
    <ToDoMarkers>
      <ToDoMarker Text="TODO" />
      <ToDoMarker Text="NOTE" />
      <ToDoMarker Text="BUG" />
    </ToDoMarkers>
    <ColumnHeadersInformation>
      <ToDoGridViewColumnInfo>
        <DisplayIndex>0</DisplayIndex>
        <Width />
      </ToDoGridViewColumnInfo>
      <ToDoGridViewColumnInfo>
        <DisplayIndex>1</DisplayIndex>
        <Width />
      </ToDoGridViewColumnInfo>
      <ToDoGridViewColumnInfo>
        <DisplayIndex>2</DisplayIndex>
        <Width />
      </ToDoGridViewColumnInfo>
      <ToDoGridViewColumnInfo>
        <DisplayIndex>3</DisplayIndex>
        <Width />
      </ToDoGridViewColumnInfo>
    </ColumnHeadersInformation>
  </ToDoListSettings>
  <CodeInspectionSettings>
    <CodeInspections>
      <CodeInspection Name="EmptyStringLiteralInspection" Severity="DoNotShow" InspectionType="LanguageOpportunities" />
      <CodeInspection Name="ImplicitPublicMemberInspection" Severity="DoNotShow" InspectionType="LanguageOpportunities" />
      <CodeInspection Name="ObsoleteCallStatementInspection" Severity="DoNotShow" InspectionType="LanguageOpportunities" />
      <CodeInspection Name="MultipleDeclarationsInspection" Severity="DoNotShow" InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="ParameterCanBeByValInspection" Severity="DoNotShow" InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="UseMeaningfulNameInspection" Severity="DoNotShow" InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="HungarianNotationInspection" Severity="DoNotShow" InspectionType="NamingAndConventionsIssues" />
      <CodeInspection Name="UnreachableCaseInspection" Severity="DoNotShow" InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ImplicitByRefModifierInspection" Severity="DoNotShow" InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ImplicitDefaultMemberAccessInspection" Severity="DoNotShow" InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ImplicitRecursiveDefaultMemberAccessInspection" Severity="DoNotShow" InspectionType="CodeQualityIssues" />
      <CodeInspection Name="IndexedDefaultMemberAccessInspection" Severity="DoNotShow" InspectionType="CodeQualityIssues" />
      <CodeInspection Name="RedundantByRefModifierInspection" Severity="DoNotShow" InspectionType="CodeQualityIssues" />
      <CodeInspection Name="ShadowedDeclarationInspection" Severity="DoNotShow" InspectionType="CodeQualityIssues" />
      <CodeInspection Name="UseOfBangNotationInspection" Severity="DoNotShow" InspectionType="CodeQualityIssues" />
      <CodeInspection Name="UseOfRecursiveBangNotationInspection" Severity="DoNotShow" InspectionType="CodeQualityIssues" />
    </CodeInspections>
    <WhitelistedIdentifiers />
    <RunInspectionsOnSuccessfulParse>true</RunInspectionsOnSuccessfulParse>
  </CodeInspectionSettings>
  <UnitTestSettings>
    <BindingMode>DualBinding</BindingMode>
    <AssertMode>StrictAssert</AssertMode>
    <ModuleInit>false</ModuleInit>
    <MethodInit>false</MethodInit>
    <DefaultTestStubInNewModule>false</DefaultTestStubInNewModule>
  </UnitTestSettings>
  <IndenterSettings>
    <IndentEntireProcedureBody>true</IndentEntireProcedureBody>
    <IndentEnumTypeAsProcedure>false</IndentEnumTypeAsProcedure>
    <IndentFirstCommentBlock>true</IndentFirstCommentBlock>
    <IndentFirstDeclarationBlock>true</IndentFirstDeclarationBlock>
    <IgnoreEmptyLinesInFirstBlocks>false</IgnoreEmptyLinesInFirstBlocks>
    <AlignCommentsWithCode>true</AlignCommentsWithCode>
    <AlignContinuations>true</AlignContinuations>
    <IgnoreOperatorsInContinuations>true</IgnoreOperatorsInContinuations>
    <IndentCase>false</IndentCase>
    <ForceDebugStatementsInColumn1>false</ForceDebugStatementsInColumn1>
    <ForceDebugPrintInColumn1>false</ForceDebugPrintInColumn1>
    <ForceDebugAssertInColumn1>false</ForceDebugAssertInColumn1>
    <ForceStopInColumn1>false</ForceStopInColumn1>
    <ForceCompilerDirectivesInColumn1>false</ForceCompilerDirectivesInColumn1>
    <IndentCompilerDirectives>true</IndentCompilerDirectives>
    <AlignDims>false</AlignDims>
    <AlignDimColumn>15</AlignDimColumn>
    <EndOfLineCommentStyle>AlignInColumn</EndOfLineCommentStyle>
    <EmptyLineHandlingMethod>Ignore</EmptyLineHandlingMethod>
    <EndOfLineCommentColumnSpaceAlignment>50</EndOfLineCommentColumnSpaceAlignment>
    <IndentSpaces>4</IndentSpaces>
    <VerticallySpaceProcedures>true</VerticallySpaceProcedures>
    <LinesBetweenProcedures>1</LinesBetweenProcedures>
    <GroupRelatedProperties>false</GroupRelatedProperties>
  </IndenterSettings>
  <WindowSettings>
    <CodeExplorerVisibleOnStartup>false</CodeExplorerVisibleOnStartup>
    <CodeInspectionsVisibleOnStartup>false</CodeInspectionsVisibleOnStartup>
    <TestExplorerVisibleOnStartup>false</TestExplorerVisibleOnStartup>
    <TodoExplorerVisibleOnStartup>false</TodoExplorerVisibleOnStartup>
    <CodeExplorer_SortByName>true</CodeExplorer_SortByName>
    <CodeExplorer_SortByCodeOrder>false</CodeExplorer_SortByCodeOrder>
    <CodeExplorer_GroupByType>false</CodeExplorer_GroupByType>
  </WindowSettings>
  <IgnoredProjectsSettings>
    <IgnoredProjectPaths />
  </IgnoredProjectsSettings>
</Configuration>